@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body,
.App {
  background: rgb(170, 205, 255);
  font-family: "Open Sans", sans-serif;
}

.filter-wrapper {
  display: flex;
}
